<!DOCTYPE html>
<html>
  <head>
    <title>Rails Master Angular Learning</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: "partials/header" %>
    <%= yield %>
    <%= render partial: "partials/sign_in_modal" %>
  </body>
</html>
